extends layout

block content

  -
    const professors = [
        {
            "lastname": "Beauchamps",
            "firstname": "Alphonsine",
            "email": "alphonsine.beauchamps@polymtl.quebec",
            "title": "associateprofessor",
            "current": true,
            "homepage": "https://www.polymtl.quebec/expertises/beauchamps-alphonsine",
            "image": "/img/alphonsine_beauchamps.jpg"
        },
        {
            "lastname": "Deslauriers",
            "firstname": "Michel",
            "email": "michel.deslauriers@polymtl.quebec",
            "title": "associateprofessor",
            "current": true,
            "homepage": "https://www.polymtl.quebec/expertises/deslauriers-michel",
            "image": "/img/michel_deslauriers.jpg"
        }
    ]

    const researchassociates = [
        {
            "lastname": "St-Louis",
            "firstname": "Xavier",
            "email": "xavier.st-louis@polymtl.quebec",
            "title": "researchassociate",
            "current": true
        },
    ]

    const phdStudents = [
        {
            "lastname": "De Chateaub",
            "firstname": "Robert",
            "email": "robert.dechateaub@polymtl.quebec",
            "title": "phdstudent",
            "current": true,
            "image": "/img/robert_de_chateaub.jpg"
        },
        {
            "lastname": "Deniger",
            "firstname": "Christophe",
            "title": "phdstudent",
            "current": true,
            "image": "/img/christophe_deniger.jpg"
        },
        {
            "lastname": "Garand",
            "firstname": "Zack",
            "email": "zack.garand@polymtl.quebec",
            "title": "phdstudent",
            "current": true
        },
        {
            "lastname": "Monty",
            "firstname": "Clothilde",
            "email": "clothilde.monty@polymtl.quebec",
            "title": "phdstudent",
            "current": true,
            "image": "/img/clothilde_monty.jpg"
        },
        {
            "lastname": "St-Louis",
            "firstname": "Xavier",
            "email": "xavier.st-louis@polymtl.quebec",
            "title": "phdstudent",
            "current": false
        },
        {
            "lastname": "Trudel",
            "firstname": "Hildège",
            "title": "phdstudent",
            "current": false
        }
    ]

    const masterStudents = [
        {
            "lastname": "Anderson",
            "firstname": "Patrick",
            "title": "masterstudent",
            "current": false
        },
        {
            "lastname": "Benjamin",
            "firstname": "Rosamonde",
            "title": "masterstudent",
            "current": true,
            "image": "/img/rosamonde_benjamin.jpg"
        },
        {
            "lastname": "Bourgoin",
            "firstname": "Leonard",
            "title": "masterstudent",
            "current": false
        },
        {
            "lastname": "Charron",
            "firstname": "Aurore",
            "title": "masterstudent",
            "current": true,
            "image": "/img/aurore_charron.jpg"
        },
        {
            "lastname": "Gélinas",
            "firstname": "Joey",
            "title": "masterstudent",
            "current": false
        },
        {
            "lastname": "Jutras",
            "firstname": "Gustina",
            "title": "masterstudent",
            "current": false
        },
        {
            "lastname": "Lacoste",
            "firstname": "Granella",
            "title": "masterstudent",
            "current": false
        },
        {
            "lastname": "Mailloux",
            "firstname": "Capucine",
            "title": "masterstudent",
            "current": true,
            "image": "/img/capucine_mailloux.jpg"
        },
        {
            "lastname": "Noël",
            "firstname": "Damien",
            "email": "damien.noel@polymtl.quebec",
            "title": "masterstudent",
            "current": true
        },
        {
            "lastname": "Renaud",
            "firstname": "Liodore",
            "title": "masterstudent",
            "current": false,
            "image": "/img/liodore_renaud.jpg"
        },
        {
            "lastname": "Rochefort",
            "firstname": "Talbot",
            "title": "masterstudent",
            "current": true,
            "image": "/img/talbot_rochefort.jpg"
        },
        {
            "lastname": "Rodrigue",
            "firstname": "Christophe",
            "title": "masterstudent",
            "current": true,
            "image": "/img/christophe_rodrigue.jpg"
        },
        {
            "lastname": "Simoneau",
            "firstname": "Fleurilius",
            "title": "masterstudent",
            "current": false
        }
    ]

  mixin memberSection(members, sectionTitle, isCurrent)
    if members.length !== 0
      section
        h1= sectionTitle
        ul.people
          each member in members
            if member.current === isCurrent
              if isCurrent
                +memberInfoWithPhoto(member)
              else
                +memberInfoWithoutPhoto(member)

  mixin memberInfoWithPhoto(member)
    li
      a.person-photo
        if member.image
          img.img-circle(src=member.image, alt="Aucune image")
        else
          i.fa.fa-user-circle.fa-5x.img-circle
      div.person
        a.name(href=member.homepage)= `${member.firstname} ${member.lastname}`
        if member.title === 'associateprofessor'
          p.bio Professeur associé
        p.email.bio
          a(href="mailto:" + member.email)= member.email

  mixin memberInfoWithoutPhoto(member)
    li #[a(href=member.homepage)= `${member.firstname} ${member.lastname}`]

  h1 Équipe

  section.current-people-container
    +memberSection(professors, 'Professeurs', true)
    +memberSection(researchassociates, 'Associés de recherche', true)
    +memberSection(phdStudents, 'Étudiants au doctorat', true)
    +memberSection(masterStudents, 'Étudiants à la maitrise', true)

  h1.oldpeopletitle Anciens membres

  section.oldpeople
    +memberSection(phdStudents, 'Étudiants au doctorat', false)
    +memberSection(masterStudents, 'Étudiants à la maîtrise', false)

block script
  script(src='/javascripts/team.js')
